.adder
{
  width: 50px;
}
.vw
{
  background-color: rgba(0, 255, 184, 0.52);
}
.bd
{
  background-image: url("../img/background.jpg");
}
.mg
{
  margin: 8px;
}
.cnt
{
  font-size: 1.6em;
}
.hh
{
  border-color: black;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
