<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Title Generator</title>

  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">

  <link href="css/mycss.css" rel="stylesheet">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
</head>

<body class="bd">

<div ng-app="myApp" ng-controller="DropdownCtrl" class="vw">
    <div class="row" ng-repeat="dk in mydatakeys()">
      <div class="col-sm-4">
        <div class="btn-group" uib-dropdown keyboard-nav>
            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                {{dk}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav" >
                <li ng-repeat="itm in mydata[dk]" role="menuitem" ng-click="removeItem(dk,itm)">{{itm}}</li>
            </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <form class="navbar-form" ng-submit="addItem(dk)">
          <div class="input-group add-on">
            <input class="form-control" placeholder="Add Words" name="term" id="term" type="text" ng-model="adders[dk]">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" ng-click="addItem(dk)"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2">
        <span>{{adders[dk]}}</span>
        <div class="btn btn-danger" ng-click="removeGroup(dk)">Remove Group</div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <form class="navbar-form" ng-submit="addGroup()">
          <div class="input-group add-on">
          <input class="form-control" placeholder="Add Group" type="text" ng-model="groupdata">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="addGroup()"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
          </div>
        </form>
        <button class='btn btn-primary'>Generate to screen</button>
        <button class='btn btn-primary'>Generate to .txt</button>
        <button class='btn btn-primary'>Generate to .csv</button>
      </div>
    </div>


</div>



  <script src="js/myapp.js"></script>
</body>
</html>
